.main-container {
    background-color: #f4f4f8;
    /* background-color: #2A3034; */
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}